<header>
  <nav id="top-nav" class="navbar navbar-expand navbar-dark fixed-top bg-dark" aria-label="Navbar">
     <div class="px-3 py-2 text-bg-dark">
        <div class="container">
          <div
            id="mainMenu"
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
 <a
  href="http://127.0.0.1:5500/public/"
  class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
>
  <img
    src="./images/favicon.ico"
    alt="Site Logo"
    width="40"
    height="32"
    class="me-2"
  />
</a>  <!-- //had to change from default svg because svg doesn't work with ico files! -->
            </a>

            <ul
              class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
            >
              <li>
                <a href="./index.ejs" class="nav-link text-secondary">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  </svg>
                  Home
                </a>
              </li>
              <li>
                <a href="#index-featurette"class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  </svg>
                  Latest
                </a>
              </li>
             <li>
               <a href="/projects" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                   Portfolio
               </a>
              </li>
              <li>
                <a href="#artist-featurette" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  </svg>
                  About
                </a>
              </li>
              <li>
                <a href="./contact.ejs" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  </svg>
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
          <form
            class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
            role="search"
          >
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>
          <div id="loginMenu" class="text-end">
            <button type="button" class="btn btn-light text-dark me-2">
              Login
            </button>
            <button id="wallet-connect" type="button" class="btn btn-primary">
              Connect Wallet
            </button>
          </div>
        </div>
      </div>
    </nav>
</header>