body {
  background-color: darkslategray;
}

.electrolize-regular {
  font-family: "Electrolize", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

button {
  background-color: #1e2d24;
  color: #f9b4ed;
}

button:hover {
  background-color: #f9b4ed;
  color: #1e2d24;
}

#testButton {
  background-color: antiquewhite;
  font-family: "Electrolize", serif;
}

#mainMenu {
  font-family: "Electrolize", serif;
}

#loginMenu {
  font-family: "Montserrat", serif;
}

#homeHeroButtons {
  font-family: "Electrolize", serif;
}

#contactForm {
  display: inline-block;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: center !important;

  /* Centering on the page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contactForm input,
#contactForm textarea,
#contactForm button {
  all: revert;
  font-family: inherit;
  border-radius: 1em;
}

#contactForm input,
#contactForm textarea {
  font-family: "Electrolize", serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

#contactForm textarea {
  vertical-align: top;
  min-height: 5em;
  resize: vertical;
}

#contactForm button {
  background-color: #1e2d24;
  color: #f9b4ed;
  margin-left: 0.5em;
}

#contactForm button:hover {
  background-color: #f9b4ed;
  color: #1e2d24;
}
